* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    min-height: 100vh;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    width: 200px;
    height: 54px;
    border-radius: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}


.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--success {
    background: #42d964;
}

.btn--primary {
    background: #3386e9;
}

.btn--warning {
    background: #f4be31;
}

#toast {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 999999;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    min-width: 450px;
    max-width: 450px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    transition: all linear 0.3s;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast__icon {
    font-size: 32px;
    padding: 24px 16px;
    border-left: 8px solid;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 32px;
}

.toast__message {
    font-size: 20px ;
}

.toast__close {
    font-size: 24px;
    padding: 16px;
    opacity: 0.5;
}

.toast__close:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.3);
}

.toast__icon--success {
    color:#42d964;
}

.toast__icon--primary {
    color:#3386e9;
}

.toast__icon--warning {
    color:#f4be31;
}

@media (max-width: 739px) {
    .btn {
        width: 150px;       
        height: 44px;      
        font-size: 18px;   
        margin-bottom: 40px; 
    }

    .toast {
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 8px;
    }

    .toast__icon {
    font-size: 24px;
    padding: 18px 2px;
    border-left: 4px solid;
    }   

    .toast__title {
    font-size: 16px;
    }

    .toast__message {
    font-size: 12px ;
    }

    .toast__close {
    font-size: 24px;
    padding: 4px;
    }
}
